@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'reset';
@import './vars/global';
@import './themes/normal';
@import './themes/dark';

*,
*::after,
*::before {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
    gap: 30px;
}

.page-wrapper {
    flex-grow: 1;
}
