.button {
    cursor: pointer;
    padding: 10px 20px;
}

.size-m {
    font: var(--font-m);
}

.size-l {
    font: var(--font-l);
}

.size-xl {
    font: var(--font-xl);
}

.clear,
.clear-inverted {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.clear-inverted {
    color: var(--inverted-primary-color);
}

.outlined,
.outlined-inverted {
    background-color: transparent;
}

.outlined {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.outlined-inverted {
    border: 1px solid var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}

.background,
.background-inverted {
    border: none;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.background-inverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &.size-m {
        width: var(--font-line-height-m);
        height: var(--font-line-height-m);
    }

    &.size-l {
        width: var(--font-line-height-l);
        height: var(--font-line-height-l);
    }

    &.size-xl {
        width: var(--font-line-height-xl);
        height: var(--font-line-height-xl);
    }
}