.sidebar {
    position: relative;
    box-sizing: border-box;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 20px;
    transition: width 0.2s;
}

.switchers {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapse-btn {
    position: absolute;
    bottom: 32px;
    right: -32px;
}

.sidebar-nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
