.sidebar-nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    min-width: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--inverted-primary-color);
}
