.app-dark-theme {
    --bg-color: #3e4376;
    --inverted-bg-color: #f9f9d7;
    --primary-color: #e4ff89;
    --secondary-color: #fff;
    --inverted-primary-color: #3e4376;
    --inverted-secondary-color: #000;
}
