.wrapper.light {
  --bg-color: #f9f9d7;
  --inverted-bg-color: #3e4376;

  --primary-color: #3e4376;
  --secondary-color: #000000;
  --inverted-primary-color: #e4ff89;
  --inverted-secondary-color: #ffffff;
}