.navbar {
    box-sizing: border-box;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 30px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 15px;
}